[Desktop Entry]
Type=Application
Name=RigRoom
GenericName=Guitar & Bass Multieffects Host
Comment=High-performance open-source guitar and bass multieffects host and real-time audio plugin router
Exec=RigRoom
Icon=org.rigroom.RigRoom
Categories=AudioVideo;Audio;Mixer;Qt;
Terminal=false
StartupWMClass=RigRoom

