[Desktop Entry]
Type=Application
Name=PedalBoard
GenericName=Guitar & Bass Multieffects Host
Comment=High-performance open-source guitar and bass multieffects host and real-time audio plugin router
Exec=PedalBoard
Icon=org.pedalboard.PedalBoard
Categories=AudioVideo;Audio;Mixer;Qt;
Terminal=false
StartupWMClass=PedalBoard
